* {
    border: 1px white;
}
p {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}
h1, h2, h3, h4, h5 h6 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #4242ea;
}
ul {
    list-style: none;
    display: inline-block;
   
}
footer span {
    font-weight: 700;
}
.weather p {
    font-size: 40px;
}
.above-the-fold {
    article{
        display: inline-block;

    }
}
.weather {
    width: 300px;
    border: 2px solid gray;
}
.breaking-news {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}
.breaking-news {
    img {
        width: 200px;
        margin: 0 auto;
        display: block;

    }
}
.click-bait {
    article {
        display: inline-block;
        width: 250px;
        margin: 16px;
        padding: 16px;
        box-sizing: border-box;

    }
}
.below-the-fold {
    article{
        
        display: inline-block;
    }
}
.below-the-fold {
    img {
        display: inline-block;
        padding: 16px;
        margin: 16px;
        width: 200px;      
    }
    div{
        width: 500px;
    }
}
.click-bait {
    margin: auto;
    width: auto;
    text-align: center;
}
.page__footer-links {
    text-align: center;
}
h5{
    text-align: center;
}
.below-the-fold__content {
    display: inline-block;
}
.page {
    background-color: dimgrey;
}
